# top directories to ignore
__pycache__
_build
xml
man
/out/
/.vscode/
/target/EG800GCN_GB_APPIMAGE/app
/target

# top files to ignore
/tags
/TAGS

# hidden files
.*

# cscope files
cscope.*
ncscope.*
doxygen-warning-log.txt

# editor backup files
*.bak
*.orig
*~

# misc
\#*#

# to include anyway
!.gitignore

